body {
    width: 75%;
    margin: 0px auto;
    background-color: lightblue;
    background-position: center;
}

div#corp {
    background: rgba(74, 147, 255, 0.65);
    height: 100%;
}

/* entete */
header {
    width: 40%;
    text-align: center;
    margin-left: 30%;
}

header img {
    width: 100%;
    margin: 5px auto;
    display: block;
}

/*Barre de navigation */
nav {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: darkblue;
}

ul {
    padding: 0;
    margin: 0;
}

nav a:link, nav a:visited {
    color: deepskyblue;
}

li {
    display: inline-block;
    list-style: none;
    font-size: 1.3em;
    width: 25%;
    text-align: center;
    padding: 5px 0;
}

li:hover {
    background-color: gold;
}

/*centre*/
h1 {
    text-decoration: underline;
}

table, th, td {
/ / display: table-cell;
/ / border: 1 px solid black;
/ / border-collapse: collapse;

}

table {

}


td {
    text-align: center;
}

/* Pied de page */
footer p {
    margin-top: 10%;
    text-align: center;
}

span.erreur {
    color: #FF0000;
}